html, body {
	height: 100%;
    font-family: arial;
    background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #075fab;
	height: 50px;
}

.title {
	font-size: 30px;
	margin-right: 50px;
	color: #ffffff;
	letter-spacing: 1px;
}

.searchbar-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	
}
.search-input {
	width: 400px;
	height: 100%;
	font-size: 16px;
	padding-right: 40px;
    padding-left: 10px;
}
.fa.searchButton {
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	right: 0;
	cursor: pointer;
	height: 100%;
    width: 40px;
	font-size: 20px;
	color: #555555;
}

#background {
	display: flex;
	justify-content: center;
	background-size: 100% 100%;
	padding: 100px 50px 0;
}

.container {
	overflow-x: auto;
}

.daylist {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 140px;
}

.day {
	display: flex;
	flex-shrink: 0;
	position: relative;
	top: 40px;
	height: 60px;
	width: 120px;
	padding: 20px;
	border-right: 1px solid #d3d3d3;
	user-select: none;
	background-color: #fdfdfd;
	cursor: pointer;
}
.day:last-child {
	border-right: none;
}
.day:hover .meteoicon{
	transform: scale(1.2);
	transition: all 0.2s linear;
}

.selected-tab {
	position: relative;
	top: 0px;
	width: 200px;
	height: 100px;
}
.selected-tab .meteoicon{
	transform: scale(1.2);
}

.date-and-temp {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	align-items: flex-end;
}
.meteoicon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
	color: #4e4e4e;
    font-size: 50px;
}
/*sun color #fdc400*/

.hourlist {
	display: flex;
	overflow-x: auto;
	border-top: 7px solid #d3d3d3;
	background-color: #fdfdfd;
}

.hour-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-right: 1px solid #d3d3d3;
	height: 300px;
	width: 70px;
	cursor: pointer;
}
.hour-box:hover .meteoicon{
	transform: scale(1.2);
	transition: all 0.2s linear;
}
