html {
    font-family: arial;
    background-color: #f2f2c6;
}
.city {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 10px
}

.item {
    display: flex;
    width: 30%;
    margin-bottom: 1vh;
    border: 1px solid #cccccc;
    border-right: 50%;
}
.item:first-child {
    background-color: #ffeac8;
}
.item:last-child {
    margin-bottom: 0;
}
.date {
    font-size: 1.1em;
}
.weather {
    font-size: 1.1em;
    display: inline-block;
}
.wind.item{
    border-radius: 2px;
}

.weather-button, .wind-button {
    width: 10%;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border: 3px outset #e0bd00;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0.2em;
}
.selected-tab {
    background-color: #ffeac8;
    background-color: #ead6b6; 
    border: 3px inset #b7aa03;
}

.searchbar-box {
	display: flex;
}
.searchButton {
	position: relative;
	display: flex;
	margin-left: 1%;
	align-items: center;
	min-height: 21px;
	min-width: 59px;
}